@font-face {
    font-family: 'Vela Sans';
    src: url('../font/VelaSans/VelaSans-Regular.woff2s') format('woff2'),
        url('../font/VelaSans/VelaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vela Sans';
    src: url('../font/VelaSans/VelaSans-Light.woff2') format('woff2'),
        url('../font/VelaSans/VelaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vela Sans Med';
    src: url('../font/VelaSans/VelaSans-Medium.woff2') format('woff2'),
        url('../font/VelaSans/VelaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vela Sans Bd';
    src: url('../font/VelaSans/VelaSans-Bold.woff2') format('woff2'),
        url('../font/VelaSans/VelaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vela Sans SemBd';
    src: url('../font/VelaSans/VelaSans-SemiBold.woff2') format('woff2'),
        url('../font/VelaSans/VelaSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vela Sans ExtBd';
    src: url('../font/VelaSans/VelaSans-ExtraBold.woff2') format('woff2'),
        url('../font/VelaSans/VelaSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vela Sans ExtLt';
    src: url('../font/VelaSans/VelaSans-ExtraLight.woff2') format('woff2'),
        url('../font/VelaSans/VelaSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}




.jumbotron {
    background: url("../img/bgintro");
    background-size: cover;
    background-repeat: no-repeat;    
    height: 690px;
}

body {
    font-family: 'VelaSans-GX', sans-serif;
    font-size: 16px;
}

.menu_nav {
    width: 100%;
}

.t1 {
padding-top: 10%;
font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 45px;
align-items: center;
text-align: center;
color: #FFFFFF;
}

.t2 {
text-align: center;
color: white;
font-family: 'Vela Sans Med';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 70px;
align-items: center;
text-align: center;
color: #FFFFFF;
margin-top: -20px;
}

.t3 {
    padding-top: 2%;
    font-family: 'Vela Sans SemBd';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 70px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.menu_nav {
    gap: 60px;
}

.menu-btn {
    background: 
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(60deg, rgb(79, 125, 248), rgb(149, 2, 227)) border-box;
    padding: 0px 12px;
    border: 1px solid transparent;
    border-radius: 10px;
    display: inline-block;
    color: rgb(18, 18, 18);
    font-family: 'Vela Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 33.6px;
    letter-spacing: 5%;
}



.nav-link {
    color: rgb(18, 18, 18) !important;
    font-family: 'Vela Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 33.6px;
    letter-spacing: 5%;
}

.courses {
    margin-top: 30px;
}

.course-title {
    color: rgb(18, 18, 18);
    font-family: 'Vela Sans SemBd';
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;
}

.course-title span {
    background: linear-gradient(224.01deg, rgb(72, 117, 253),rgb(55, 188, 255));
    -webkit-background-clip:
    text;
    -webkit-text-fill-color:
    transparent;
    background-clip:
    text;
    text-fill-color:
    transparent;
    font-family: Nunito;
    font-size: 40px;
    font-weight: 800;
    line-height: 33.6px;
    letter-spacing: 0%;
    text-align: left;
}

.options {
    gap: 20px;
}

.option-block {
    display: flex;
    color: rgb(18, 18, 18);
    font-family: 'Vela Sans Med';
    font-size: 16px;
    font-weight: 500;
    line-height: 33.6px;
    box-sizing: border-box;
    border: 0.8px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 0px 12px;
}

.option-block.active {
    background: #32b0ff;
    color: #fff;
    border: 0;
}

.custom-card {
    border-radius: 20px;
    background: rgba(55, 188, 255, 0.15);
    padding: 10px;
    height: 450px;
}

.img-block {
    border-radius: 20px;
    background: rgb(255, 255, 255);
    height: 220px;
}

.cards {
    gap: 20px;
}

.card-title {
    color: rgb(18, 18, 18);
    font-family: 'Nunito';
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 0px 20px;
}

.card-p {
    color: rgb(18, 18, 18);
    font-family: 'Vela Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 5%;
    padding: 0px 10px;
}

.second-row-cards {
    margin-top: 40px;
}

.lisence {
    margin-top: 55px;
    margin-bottom: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lisence-card {
    box-sizing: border-box;
    border: 5px solid rgba(55, 188, 255, 0.3);
    border-radius: 20px;
    padding: 25px;
    gap: 8px;
    display: flex;
}

.license-title {
    color: rgb(18, 18, 18);
    font-family: 'Nunito';
    font-size: 26px;
    font-weight: 600;
    line-height: 20px;
}

.license-p {
    color: rgb(18, 18, 18);
    font-family: 'Vela Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.divider-section {
    background: linear-gradient(224.13deg, rgb(55, 188, 255) 3.112%,rgb(72, 117, 253) 50.154%,rgb(149, 2, 227) 100.192%);
    padding-top: 40px;
    padding-bottom: 60px;
}

.divider-block {
    box-sizing: border-box;
    border: 0.8px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding-top: 16px;
    padding-bottom: 24px;
    position: relative;
}

.threebuttons {
    position: absolute;
    top: 5px;
    right: 10px;
}

.divider-line {
    border: 0.8px solid rgb(255, 255, 255);
    border-bottom: 0;
    height: 1px;
    width: 100%;
}

.divider-title {
    color: rgb(255, 255, 255);
    font-family: 'Vela Sans SemBd';
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.divider-info-title {
    color: rgb(255, 255, 255);
    font-family: 'Nunito';
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-left: 5px;
}

.divider-info {
    margin-left: 30px;
    margin-right: 30px;
}

.divider-info-p {
    margin-left: 5px;
    color: rgb(255, 255, 255);
    font-family: 'Vela Sans';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    width: 90%;
}

.divider-info-p span {
    font-weight: 700;
}

.aboutus {
    margin-top: 36px;
}

.aboutus-title {
    color: rgb(0, 0, 0);
    font-family: 'Vela Sans SemBd';
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;
    letter-spacing: 5%;
}

.aboutus-text {
    font-family: 'Vela Sans SemBd';
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 5%;
    text-align: justify;
}

.aboutus-text span {
    color: rgb(3, 81, 193);
    font-weight: 700;
}


.aboutus-block {
    background: 
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(60deg, rgb(79, 125, 248), rgb(149, 2, 227)) border-box;
    color: rgb(18, 18, 18);
    padding: 30px 10px 30px 20px;
    border: 1px solid transparent;
    border-radius: 22px;
    display: inline-block;
    position: relative;
    width: 80%;
}

.aboutus-block-title {
    display: flex;
    position: absolute;
    top: -20px;
    left: 50%; /* Position it at the horizontal center */
    transform: translateX(-50%); /* Move it back by half of its own width */
    border-radius: 11px;
    background: linear-gradient(214deg, #37bcff 0%, #4f7df8 51.5%, #9502e3 100%);
    font-weight: 600;
    font-size: 31px;
    line-height: 178%;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
    height: 50px;
    padding: 0 12px;
    white-space: nowrap;
    font-family: 'Vela Sans SemBd';
}

.aboutus-info-text {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #121212;
}

.aboutus-info-text span {
    font-weight: 700;
    font-size: 22px;
    background: linear-gradient(222deg, #4875fd 0%, #37bcff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.conditions {
    margin-top: 55px;
}

.title-conditions {
    color: rgb(18, 18, 18);
    font-family: 'Vela Sans SemBd';
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 5%;
}

.condition-text {
    color: rgb(3, 81, 193);
    font-family: 'Vela Sans SemBd';
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 5%;
    text-align: center;
}

.condition-row {
    gap: 60px;
}

.howget {
    margin-top: 80px;
}

.courseblock {
    background: 
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(60deg, rgb(79, 125, 248), rgb(149, 2, 227)) border-box;
    border: 1px solid transparent;
    border-radius: 9px;
    display: inline-block;
    position: relative;
    margin-top: 15px;
    width: 350px;
}

.coursestep {
    border-radius: 9.2px;
    /* МИАОЦИТ */
    background: linear-gradient(229.84deg, rgb(55, 188, 255) 4.025%,rgb(79, 125, 248) 52.452%,rgb(149, 2, 227) 98.059%);
    color: rgb(255, 255, 255);
    font-family: 'Vela Sans SemBd';
    font-size: 18.41px;
    font-weight: 600;
    line-height: 45.83px;
    letter-spacing: 5%;
    padding: 0px 13px;
    position: absolute;
    top: -30px;
    left: -50px;
}

.blockTitle {
    color: rgb(18, 18, 18);
    font-family: 'Vela Sans SemBd';
    font-size: 16.57px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 5%;
    text-align: center;
    margin: 5px 0px;
}

.titleSvg {
    position: absolute;
    top: 5px;
    right: 10px;
}

.blockLine {
    width: 100%;
    height: 1px;
    background: 
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(60deg, rgb(79, 125, 248), rgb(149, 2, 227)) border-box;
    border: 1px solid transparent;
    border-bottom: 0;
}

.blockText {
    color: rgb(18, 18, 18);
    font-family: 'Vela Sans';
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.12em;
    text-align: justify;
}

.blockInfo {
    margin: 10px 12px;
    margin-bottom: 30px;
}

.instructions-text {
    color: rgb(0, 0, 0);
    font-family: 'Vela Sans';
    font-size: 12.6px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 5%;
    margin-left: 5px;
}

.instruction-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4.85px 7.76px 4.85px 7.76px;
    border-radius: 3.69px;
    box-shadow: 0px 0.97px 1.94px 0px rgba(0, 0, 0, 0.25);
    background: rgba(55, 188, 255, 0.15);
}

.instruction-block-text {
    color: rgb(0, 0, 0);
    font-family: 'Vela Sans';
    font-size: 11.63px;
    font-weight: 400;
    line-height: 22.14px;
    text-align: justify;
    margin-left: 5px;
}
